@{
}

@model IEnumerable<DuAn1BanHang.Models.Category>


<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="/Categories">Danh mục</a></li>
				<li><a href="/Products">Sản phẩm</a></li>
				<li><a href="/Products">Sản phẩm</a></li> <!--khai code đầu năm-->
				@foreach (var item in Model) {
				<li><a href="#">@item.Name</a></li>
				}
			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>